*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; 
}

/* Fontes locais */
@font-face {
  font-family: 'Milonga';
  src: url('./assets/Font/Milonga-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Park Lane';
  src: url('./assets/Font/ParkLaneNF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root{
  --color-primary-gold: #E3B779;
  --color-secondary-black: #000000;

  --Park-Lane: 'Park Lane', sans-serif;
  --Milonga: 'Milonga', cursive;

  --headline-01: 48px;
  --headline-02: 40px;
  --input: 30px;
  --button: 24px;
  --modal-text: 20px;
}